.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}

.carousel .carousel-item {
    height: 400px !important;
}
  
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px !important;
}